* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color:lavender;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER/NAV BAR STYLES BEGINS */

header {
    padding: 20px 35px;
    background-color: blueviolet;
}

header h1 {
    font-weight: bold;
    display: inline;
    margin: 0;
    font-size: 40px;
    color: limegreen
}

header a {
    text-decoration: none;
    color: limegreen
}

header nav {
    float: right;
    margin: 7px 0px;
    text-decoration: underline;

}

header nav ul li {
    display: inline;
    
  }
  
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    
  }
  
  /* HEADER/NAV BAR STYLES END */

  /* COOL SUBTITLES BAR STYLES START */

.hero {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    }

.hero-cta{
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: lavenderblush;
    font-size: 18px;
    line-height: 1.2;
  }


.hero-cta h2 {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    color: lightgreen;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

h2{
    color: lightgreen;
    display: inline;
    
    
}
/* SUBTITLE BAR  STYLES END /*
  

/* ABOUT ME STYLES START */

.section-title {
    font-size: 30px;
    border-right: 3px solid;
    color: limegreen;
  
   
}

.primary-border {
    border-color:magenta ;
    margin: 10 20 10 20;
    width: 60%;
    text-align: right;
    
   
}
.intro {
    padding: 20px 35px;
    font-size: 30px;
    color: limegreen;
    text-align: right;

   
}
  
.intro p {
    color: lightgreen;
    font-size: 15px;
    font-weight: bold;
    flex-wrap: wrap;
    
    
}
 /* END ABOUT ME STYLES */

 /* WORK STYLES START */
 
 .my-work {
     padding: 20px 35px;
     font-size: 30px;
     color: limegreen;
    
}

.top-pic{
    color: magenta;
}
.mid-pic {
    color: magenta;
}

.bot-pic{
    color: magenta;
}

/* WORK STYLES END */

/* CONTACT ME SECTION STYLES START */

 .contact {
    padding: 20px 35px;
    font-size: 30px;
    color: limegreen;
}
.contact-box {
    display:flex;
    justify-content: space-around;
    text-decoration: underline;
    
}

/* CONTACT ME STYLES END */


/* EXTRAS */

.flex-row {
    display: flex;
}